# .github/workflows/publish-cron.yml
name: Publish Cron Event

on:
  schedule:
    - cron: "* */1 * * *" # every 1 hour

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate to GCP
        id: auth
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Send Pub/Sub Message
        run: |
          gcloud pubsub topics publish ${{ secrets.PUBSUB_TOPIC }} \
            --message='{"job":"refresh", "encryptionKey":"${{ secrets.ENCRYPTION_KEY }}" }' \
